<script>
  $(function(){
    // $('.piece').hide('slow');
    $('.piece').draggable();
      // console.log("moved");
      var newCell = $('.cell').droppable( {
        drop: function ( event, ui ) { 
          // piece url // 
          var pieceUrl = ui.draggable.context.href;
          // where piece originated //
          var prevCell = ui.draggable.parent().data();
          var prevX = prevCell.x;
          var prevY = prevCell.y;
          // where piece is going //
          var newCellX = (event.target.attributes[1].nodeValue);
          var newCellY = (event.target.attributes[2].nodeValue)
          
          console.log( "has been moved from x: " + prevX + " y: " + prevY + " and is moving to x: " + newCellX + " y: " + newCellY + ""); 
        }
      });
    });
</script>

<%= "Hello #{current_user.email} you are playing #{@game.inspect}"%>
<table id="chess_board" cellpadding="0" cellspacing="0">
  <% (8.downto(1)).each do |y| %> 
    <tr> 
      <% (1..8).each do |x| %>
        <% piece = @game.get_piece_at(x, y) %>
        <td class="cell" data-x="<%= x %>" data-y="<%= y %>" >
          <% if piece.present? %>
            <%= link_to piece.unicode_point.html_safe, piece_path(piece), :class => "piece" %> 
          <% end %>  
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
