<%= "Hello #{current_user.email} you are playing #{@game.inspect}"%>

<table id="chess_board" cellpadding="0" cellspacing="0">
  <% (1..8).each do |y| %>
    <tr>
      <% (1..8).each do |x| %>
        <td>
          <% piece = @game.get_piece_at(x, y) %>
          <% if piece.present? %>
        <%= link_to piece.unicode_point.html_safe, piece_path(piece) %> 
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>