<table id="chess_board" cellpadding="0" cellspacing="0">
  <% (1...8).each do |x| %>
    <tr>
      <% (1...8).each do |y| %>
        <td>
          <% piece = @game.get_piece_at(x, y) %>
          <% if !piece.nil? %>
              <a href="#"><%= @game.render_piece(piece) %></a>
            <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>