@import "bootstrap";

body {
  font-family: 'Anada', serif;
  background-image: image_url('background.png');
}

body a {
  color: black;
}

input {
  font-family: 'Anada', serif;
}

.admin {
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Almendra', serif;
}

#chess_board a {
color:#000000;
display:block;
font-size:60px;
height:80px;
position:relative;
text-decoration:none;
text-shadow:0 1px #ffffff;
width:80px;
}

#chess_board { 
  border:5px solid #333333; 
  margin: auto;
  width: 50% !important;
}

#chess_board td {
background:#ffffff;
height:80px;
text-align:center;
vertical-align:middle;
width:80px;
}

#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
background:#000000;
}

.curr-games {
  padding: 30px;
}

.navbar-brand {
  letter-spacing: 1px;
  font-size: 40px;
  font-family: 'Almendra', serif;
}

.top-nav a {
  color: white;
}

.welcome {
  padding: 30px;
}
